<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/global.css">
	<link rel="stylesheet" href="/styles/tasks/create.css">
</head>
<body>
	<h1>create a new task</h1>
	<h4><a href="/">Home</a></h4>

	<form id="createTaskForm" action="/api/tasks" method="POST">

		<div class="form-section">
			<label for="titleInput">title</label>
			<input type="text" name="title" required id="titleInput" placeholder="feed the cat ..">
		</div>
		<div class="form-section">
			<label for="descriptionInput">description</label>
			<input type="text" name="description" required id="descriptionInput" placeholder="the cat is so angry right now...">
		</div>
		<div class="form-section">

			<label for="status">Select Status:</label>
			<select id="status" name="status">
			  <option value="pending">Pending</option>
			  <option value="done">Done</option>
			  <option value="in-progress">In Progress</option>
			</select>

		</div>

		<input type="submit" value="create!">
	</form>
	<script src="/js/tasks/create.js"></script>
</body>
</html>