h1{
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form .form-section {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}
form .form-section input{
	padding: 5px;
	border-radius: 5px;
}